<section class="transit">
  <h1>KOMUNIKACJA MIEJSKA</h1>

  <div class="transit__wrapper">
    <div class="transit__card">
      <div class="transit__button">
        <img
          class="transit__icon--medium"
          src="../../assets/icons/weather.png"
          alt="Search"
        />
      </div>
      <h4 class="transit__title">Warunki atmosferyczne</h4>
    </div>
    <div class="transit__card">
      <div class="transit__button">
        <img
          class="transit__icon--small"
          src="../../assets/icons/tickets.png"
          alt="Search"
        />
      </div>
      <h4 class="transit__title">Bilety</h4>
    </div>
    <div class="transit__card">
      <div class="transit__button">
        <img
          class="transit__icon--big"
          src="../../assets/icons/warning-location.png"
          alt="Search"
        />
      </div>
      <h4 class="transit__title">Utrudnienia na drodze</h4>
    </div>
  </div>

  <div class="navbar">
    <button class="button button__navbar" (click)="goBack()">Powrót</button>
  </div>
</section>
