<section class="car-sharing">
  <h1>CARSHARING</h1>

  <div class="car-sharing__wrapper">
    <div class="car-sharing__card" (click)="goRoutePlanning()">
      <div class="car-sharing__button">
        <img
          class="car-sharing__icon--big"
          src="../../assets/icons/zoom.png"
          alt="Search"
        />
      </div>
      <h4 class="car-sharing__title">Zaplanuj trasę</h4>
    </div>
    <div class="car-sharing__card">
      <div class="car-sharing__button">
        <img
          class="car-sharing__icon--small"
          src="../../assets/icons/passangers.png"
          alt="Search"
        />
      </div>
      <h4 class="car-sharing__title">Dobierz współpasarzerów</h4>
    </div>
    <div class="car-sharing__card">
      <div class="car-sharing__button">
        <img
          class="car-sharing__icon--small"
          src="../../assets/icons/map.png"
          alt="Search"
        />
      </div>
      <h4 class="car-sharing__title">Sytuacja na drodze</h4>
    </div>
  </div>

  <div class="navbar">
    <button class="button button__navbar" (click)="goBack()">Powrót</button>
  </div>
</section>
