<section class="add-passengers">
  <h1>Dobierz współpasażerów</h1>

  <div class="add-passengers__wrapper">
    <h4>Wybierz współpasażera:</h4>

    <div class="add-passengers__card">
      <div class="add-passengers__container">
        <div class="add-passengers__data">
          <div>Imię: Marek</div>
          <div>Wiek: 29 lat</div>
          <div>Marka pojazdu: Volvo C30</div>
          <div>
            Ocena użytkowników: 4/5
            <img src="../../assets/icons/star-yellow.png" alt="" />
          </div>
        </div>

        <div class="add-passengers__data">
          <h5>Miejsce dojazdu:</h5>
          <div>Św. Andrzeja Boboli 68</div>
          <div>(100m od miejsca</div>
          <div>docelowego)</div>
        </div>

        <div class="add-passengers__buttons">
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/friend.png"
              alt=""
            />
            <div>Zaproś do znajomych</div>
          </div>
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/chat.png"
              alt=""
            />
            <div>Napisz wiadomość</div>
          </div>
        </div>
        <div class="add-passengers__buttons">
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/star.png"
              alt=""
            />
            <div>Opinie</div>
          </div>
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/exclamation.png"
              alt=""
            />
            <div>Zgłoś użytkownika</div>
          </div>
        </div>
      </div>
    </div>

    <div class="add-passengers__card">
      <div class="add-passengers__container">
        <div class="add-passengers__data">
          <div>Imię: Ola</div>
          <div>Wiek: 23 lat</div>
          <div>Marka pojazdu: Audi C5</div>
          <div>
            Ocena użytkowników: 5/5
            <img src="../../assets/icons/star-yellow.png" alt="" />
          </div>
        </div>

        <div class="add-passengers__data">
          <h5>Miejsce dojazdu:</h5>
          <div>Wołoska 120A</div>
          <div>(600m od miejsca</div>
          <div>docelowego)</div>
        </div>

        <div class="add-passengers__buttons">
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/friend.png"
              alt=""
            />
            <div>Zaproś do znajomych</div>
          </div>
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/chat.png"
              alt=""
            />
            <div>Napisz wiadomość</div>
          </div>
        </div>
        <div class="add-passengers__buttons">
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/star.png"
              alt=""
            />
            <div>Opinie</div>
          </div>
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/exclamation.png"
              alt=""
            />
            <div>Zgłoś użytkownika</div>
          </div>
        </div>
      </div>
    </div>

    <div class="add-passengers__card">
      <div class="add-passengers__container">
        <div class="add-passengers__data">
          <div>Imię: Sebastian</div>
          <div>Wiek: 27 lat</div>
          <div>Marka pojazdu: BMW E30</div>
          <div>
            Ocena użytkowników: 2/5
            <img src="../../assets/icons/star-yellow.png" alt="" />
          </div>
        </div>

        <div class="add-passengers__data">
          <h5>Miejsce dojazdu:</h5>
          <div>Narbutta 3</div>
          <div>(1,5km od miejsca</div>
          <div>docelowego)</div>
        </div>

        <div class="add-passengers__buttons">
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/friend.png"
              alt=""
            />
            <div>Zaproś do znajomych</div>
          </div>
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/chat.png"
              alt=""
            />
            <div>Napisz wiadomość</div>
          </div>
        </div>
        <div class="add-passengers__buttons">
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/star.png"
              alt=""
            />
            <div>Opinie</div>
          </div>
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/exclamation.png"
              alt=""
            />
            <div>Zgłoś użytkownika</div>
          </div>
        </div>
      </div>
    </div>

    <div class="add-passengers__card">
      <div class="add-passengers__container">
        <div class="add-passengers__data">
          <div>Imię: Zygmunt</div>
          <div>Wiek: 65 lat</div>
          <div>Marka pojazdu: Ford Fiesta</div>
          <div>
            Ocena użytkowników: 4/5
            <img src="../../assets/icons/star-yellow.png" alt="" />
          </div>
        </div>

        <div class="add-passengers__data">
          <h5>Miejsce dojazdu:</h5>
          <div>Wiejska 2</div>
          <div>(5,4km od miejsca</div>
          <div>docelowego)</div>
        </div>

        <div class="add-passengers__buttons">
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/friend.png"
              alt=""
            />
            <div>Zaproś do znajomych</div>
          </div>
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/chat.png"
              alt=""
            />
            <div>Napisz wiadomość</div>
          </div>
        </div>
        <div class="add-passengers__buttons">
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/star.png"
              alt=""
            />
            <div>Opinie</div>
          </div>
          <div class="add-passengers__button">
            <img
              class="add-passengers__icon"
              src="../../assets/icons/exclamation.png"
              alt=""
            />
            <div>Zgłoś użytkownika</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar">
    <button class="button button__navbar" (click)="goBack()">Powrót</button>
    <button class="button button__navbar">Zapłać</button>
  </div>
</section>
