<section class="easy-parking">
  <h1>EASY PARKING</h1>

  <div class="easy-parking__wrapper">
    <div class="easy-parking__card">
      <div class="easy-parking__button">
        <img
          class="easy-parking__icon"
          src="../../assets/icons/parking.png"
          alt="Search"
        />
      </div>
      <h4 class="easy-parking__title">Strefy i opłaty parkingowe</h4>
    </div>
    <div class="easy-parking__card">
      <div class="easy-parking__button">
        <img
          class="easy-parking__icon--small"
          src="../../assets/icons/tickets.png"
          alt="Search"
        />
      </div>
      <h4 class="easy-parking__title">Bilety</h4>
    </div>
    <div class="easy-parking__card">
      <div class="easy-parking__button">
        <img
          class="easy-parking__icon--big"
          src="../../assets/icons/parking-2.png"
          alt="Search"
        />
      </div>
      <h4 class="easy-parking__title">Dostępność miejsc w okolicy</h4>
    </div>
    <div class="easy-parking__card">
      <div class="easy-parking__button">
        <img
          class="easy-parking__icon--big"
          src="../../assets/icons/warning-location.png"
          alt="Search"
        />
      </div>
      <h4 class="easy-parking__title">Utrudnienia na drodze</h4>
    </div>
  </div>

  <div class="navbar">
    <button class="button button__navbar" (click)="goBack()">Powrót</button>
  </div>
</section>
