<section class="trains">
  <h1>POCIĄGI</h1>

  <div class="trains__wrapper">
    <div class="trains__card">
      <div class="trains__button">
        <img
          class="trains__icon--big"
          src="../../assets/icons/trains-positions.png"
          alt="Search"
        />
      </div>
      <h4 class="trains__title">Aktualne pozycje pociągów</h4>
    </div>
    <div class="trains__card">
      <div class="trains__button">
        <img
          class="trains__icon--small"
          src="../../assets/icons/tickets.png"
          alt="Search"
        />
      </div>
      <h4 class="trains__title">Bilety</h4>
    </div>
    <div class="trains__card">
      <div class="trains__button">
        <img
          class="trains__icon--medium"
          src="../../assets/icons/calendar.png"
          alt="Search"
        />
      </div>
      <h4 class="trains__title">Rozklad jazdy pociagow</h4>
    </div>
    <div class="trains__card">
      <div class="trains__button">
        <img
          class="trains__icon--big"
          src="../../assets/icons/warning-location.png"
          alt="Search"
        />
      </div>
      <h4 class="trains__title">Utrudnienia na drodze</h4>
    </div>
  </div>

  <div class="navbar">
    <button class="button button__navbar" (click)="goBack()">Powrót</button>
  </div>
</section>
