<section class="car-transport-description">
  <h1>Opis</h1>

  <div class="car-transport-description__wrapper">
    <div class="car-transport-description__card">
      <h2 class="car-transport-description__card--title">POCIĄGI:</h2>
      <ul>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Planowanie trasy</h4>
        </li>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Pozycje pociągów kolei szybkiej torowej</h4>
        </li>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Sytuacja na drodze</h4>
        </li>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Warunki pogodowe</h4>
        </li>
      </ul>
    </div>

    <div class="car-transport-description__card">
      <h2 class="car-transport-description__card--title">
        KOMUNIKACJA MIEJSKA:
      </h2>
      <ul>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Planowanie trasy</h4>
        </li>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Zakup biletów</h4>
        </li>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Aktualne pozycje autobusów i tramwajów</h4>
        </li>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Sytuacja na drodze</h4>
        </li>
      </ul>
    </div>
  </div>

  <div class="navbar">
    <button class="button button__navbar" (click)="goBack()">Powrót</button>
  </div>
</section>
