<section class="car-transport-description">
  <h1>Opis</h1>

  <div class="car-transport-description__wrapper">
    <div class="car-transport-description__card">
      <h2 class="car-transport-description__card--title">CAR SHARING:</h2>
      <ul>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Wyszukiwanie użytkowników</h4>
        </li>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Dobieranie współpasarzerów</h4>
        </li>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Współdzielenie kosztów transportu</h4>
        </li>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Sytuacja na drogach</h4>
        </li>
      </ul>
    </div>

    <div class="car-transport-description__card">
      <h2 class="car-transport-description__card--title">EASY PARKING:</h2>
      <ul>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Strefy i opłaty parkingowe</h4>
        </li>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Bilety</h4>
        </li>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Sprawdzanie liczby dostępnych miejsc</h4>
        </li>
        <li class="car-transport-description__list--item">
          <div class="dot"></div>
          <h4>Utrudnienia na drodze</h4>
        </li>
      </ul>
    </div>
  </div>

  <div class="navbar">
    <button class="button button__navbar" (click)="goBack()">Powrót</button>
  </div>
</section>
