<section class="localization">
  <h1>Lokalizacja</h1>

  <div class="localization__wrapper">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9780.888511605504!2d20.989536541425736!3d52.2030107522066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471eccced03dfec1%3A0x4255c2c01fd7ceb5!2sWarsaw%20University%20of%20Technology%2C%20Faculty%20of%20Mechatronics!5e0!3m2!1sen!2spl!4v1737238205879!5m2!1sen!2spl"
      width="400"
      height="600"
      style="border: 2px black solid; border-radius: 30px"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <div class="navbar">
    <button class="button button__navbar" (click)="goBack()">Powrót</button>
  </div>
</section>
