.public-transport {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    overflow: hidden;
  }

  &__icon {
    position: absolute;
    top: 50px;
  }

  &__title {
    font-size: 28px;
    color: white;
    opacity: 0.6;
    position: absolute;
    left: 30px;
    top: 200px;
  }
}

.navbar {
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  background: #353f54;
  border-radius: 20px 20px 0 0;

  display: flex;
  justify-content: space-around;
}

.button__navbar {
  width: 127px;
  height: 43px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background: #28303f;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
